/* Define base properties for dark theme */
:root {
  --background-color: #1f1f24;
  --text-color: white;
  --link-color: white;
  --button-bg-color: grey;
  --button-text-color: #fff;
  --button-border-color: #fff;
  --figcaption-bg-color: #0009;
  --figcaption-text-color: #0000;
  --h3-title-color: rgb(0, 255, 179);
  --ttt-bg-color: grey;
  --coming-soon-color: #fff;
  --work-text-color: #fff;
}

/* Define properties for light theme */
.light-theme {
  --background-color: #f0f0f0;
  --text-color: black;
  --link-color: black;
  --button-bg-color: white;
  --button-text-color: black;
  --button-border-color: black;
  --figcaption-bg-color: #0009;
  --figcaption-text-color: #0000;
  --h3-title-color: rgb(0, 47, 255);
  --ttt-bg-color: rgb(189, 189, 189);
  --coming-soon-color: #000;
  --work-text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* HEADER-- */
.header {
  margin: 20px 15% 10px 15%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-figure {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  color: var(--link-color);
}

.name {
  margin-left: 5px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 17px;
}

.nav-link {
  margin: 10px;
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 17px;
}
/* --HEADER */

/* MAIN-- */
.main {
  color: var(--text-color);
  margin-top: 100px;
}

.hero {
  color: var(--text-color);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0 20% 0 20%;
}

.about-me {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 20px;
}

.about-me-text {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}
/* --MAIN */

/* PROJECTS-- */
.projects {
  margin: 70px 20% 0 20%;
}

.projects-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: px;
  grid-row-gap: 25px;
  margin-bottom: 20px;
}

.h3-title {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 25px;
  font-style: normal;
  color: var(--h3-title-color);
}

.img-project {
  max-width: 100%;
}

.figure-article {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  /* max-height: 90%; */
}
.figure-article > * {
  grid-area: 1/1;
  transition: 0.4s;
}
.figure-article .figure-figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--figcaption-text-color);
  padding: 0.75rem;
  background: var(--figcaption-bg-color);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
.figure-article:hover .figure-figcaption {
  --_i: 0%;
}
.figure-article:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  .figure-article .figure-figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

.see-more {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
}

.comming-soon {
  color: var(--coming-soon-color);
}
/* --PROJECTS */

/* EXPERIMENTS */
.experiments {
  margin: 70px 20% 0 20%;
}

.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

#gameContainer {
  text-align: center;
  border: 2px solid grey;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  background-color: var(--ttt-bg-color);
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 240px;
  margin: auto;
}

.experiment-title {
  margin: 5px;
}

#statusText {
  margin: 5px;
}

#restartBtn {
  outline: none;
  cursor: pointer;
  color: var(--button-text-color);
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border: 2px solid var(--button-border-color);
  border-radius: 15px;
  background-color: var(--button-bg-color);
  box-shadow: 0 0 0 4px var(--button-bg-color),
    2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  transition: 0.1s ease-in-out, 0.4s color;
  margin-bottom: 15px;
}

#restartBtn:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px var(--button-bg-color),
    1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

/* EXPERIMENTS */

/* CONTACT-- */
.contact {
  margin: 70px 20% 40px 20%;
}

.contact-container {
  margin-top: 10px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  font-style: none;
  list-style: none;
}

.contact-list-item {
  margin: 10px 20px 2px 0px;
  font-style: none;
  list-style: none;
}

.list-item {
  color: var(--link-color);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 17px;
  font-style: none;
}

.work-text {
  color: var(--work-text-color);
}
/* --CONTACT */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .figure-article {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    /* max-height: 90%; */
  }
  .figure-article > * {
    grid-area: 1/1;
    transition: 0.4s;
  }
  .figure-article .figure-figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--figcaption-text-color);
    padding: 0.75rem;
    background: var(--figcaption-bg-color);
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  .figure-article:hover .figure-figcaption {
    --_i: 0%;
  }
  .figure-article:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    .figure-article .figure-figcaption {
      -webkit-mask: none;
      color: #fff;
    }
  }

  .about-me {
    font-size: 30px;
  }

  .about-me-text {
    font-size: 15px;
  }

  .contact {
    margin: 50px 10% 20px 10%;
  }

  .contact-list {
    flex-direction: column;
  }

  .contact-list-item {
    margin: 5px 10px 1px 0px;
  }

  .list-item {
    font-size: 15px;
  }

  .hero {
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .navbar {
    flex-direction: column;
  }

  .logo-figure,
  .name {
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }

  .nav-link {
    margin: 5px;
    font-size: 15px;
  }

  .nav-links {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .projects {
    margin: 35px 10% 0 10%;
  }

  .experiments {
    margin: 50px 10% 0 10%;
  }

  .cell {
    width: 50px;
    height: 50px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
  }

  #gameContainer {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    width: 200px;
    margin: 20px auto;
    background-color: grey;
  }

  #cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 160px;
    margin: auto;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  }

  .h3-title-page,
  .h3-title {
    font-size: 20px;
  }
}
/* --MEDIA QUERIES */
